/* search styles */
/* search upper */
.search-upper {
  background-color: var(--light);
  padding-bottom: 1em;
}

.search-lower,
.home-main {
  padding-top: 0.5em;
  padding-bottom: 4.2em;
}

/* header styles */
.logo-header {
  background-color: var(--light);
  padding: 0.3em;
  padding-top: 0.5em;
  color: var(--primary);
  box-shadow: 0px 1px 10px #61616152;
}

/* footer styles */
.footer-button {
  border: 0;
  padding: 0.8rem;
  background-color: var(--light);
  color: var(--dark);
}

.footer-button:hover,
.footer-button:active {
  border: 0;
}

.footer-button.current {
  color: var(--primary);
  border-top: var(--primary) 0.4em solid;
  padding-top: 0.6em;
}

.sort {
  font-size: 0.8em;
  padding: 0.5em;
}

.post .card-header h4 {
  margin-bottom: 0;
}

.post .card-header h5 {
  margin-bottom: 0;
  font-style: italic;
}

.post .card-body {
  padding: 1em;
}

.post button {
  font-size: 1em;
}

.menu {
  box-shadow: 0px -1px 10px #61616152;
}

img.round {
  margin-top: 1em;
  width: 13em;
  height: 13em;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid var(--primary);
}

.profile h1 {
  padding-top: 0.5em;
  color: var(--dark);
  font-weight: bold;
}

.profile p.email {
  font-size: 1.3em;
  font-style: italic;
}

.profile p.balance {
  font-size: 2em;
}

.profile span.value {
  display: block;
  color: var(--primary);
  font-weight: bold;
  font-size: 3rem;
  margin-bottom: 1rem;
}

.footer-button:focus {
  outline: none;
}
