/* footer styles */
footer {
  box-shadow: 0px -2px 5px #ccc;
}
button {
  border: 0;
  padding: 0.8rem;
  background-color: #fff;
  color: #555555;
}

button:hover,
button:active {
  background-color: #eeeeee;
}
